body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #ffffff;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #000000;
}

.logo {
    width: 100px;
    display: block;
    margin: 0 auto;
}

h1 {
    color: #ff004f;
    margin-top: 10px;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #1c1c1c;
    color: #ffffff;
}

th, td {
    border: 1px solid #333;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #ff004f;
    color: white;
}

tr:nth-child(even) {
    background-color: #2b2b2b;
}

tr:hover {
    background-color: #383838;
}

td {
    vertical-align: top;
}
